<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>さいばいくん</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/reset.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DotGothic16&family=M+PLUS+1&display=swap">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body id="main">
    <section>

        <form action="#" th:action="@{/saibaikun}" th:object="${actionForm}" method="post">
            <input class="dn" type="hidden" th:name="saibaiDaichoId" th:value="*{saibaiDaichoId}">
            <div class="cntBox">
                ・・・アクション・・・
            </div>

            <input id="returnMain" class="dn" type="submit" name="returnMain">
        </form>
    </section>
    <section class="dn fade"></section>
</body>

<script>    
    setTimeout('document.getElementById("returnMain").click()',2500);
</script>


</html>