<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>さいばいくん</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/reset.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DotGothic16&family=M+PLUS+1&display=swap">
</head>

<body id="main">
    <section>
        <h1>さいばいくん</h1>
        <form action="#" th:action="@{/saibaikun/action}" th:object="${mainForm}" method="post">
            <div class="status" th:each="status : *{Status}">
                <input type="hidden" name="saibaiDaichoId" th:value="${status.saibaiDaichoId}">
                <input id="characterId" type="hidden" name="characterId" th:value="${status.characterId}">
                <input id="level" type="hidden" name="level" th:value="${status.level}">
                <input id="getAction1" type="hidden" th:name="action1" th:value="*{action1}">
                <input id="getAction2" type="hidden" th:name="action2" th:value="*{action2}">
                <input id="getAction3" type="hidden" th:name="action3" th:value="*{action3}">
                <dl class="flex">
                    <dt>なまえ（しゅるい）</dt>
                    <dd th:text="${status.saibaiName}"></dd><dd th:text="'（'+${status.characterName}+'）'"></dd>
                </dl>
                <dl class="flex">
                    <dt>レベル</dt>
                    <dd th:text="${status.level}"></dd>
                </dl>
                <dl>
                    <dt>じょうたい</dt>
                    <dd>
                        <dl class="flex">
                            <dt>けんこう</dt>
                            <dd><img class="statImg" th:src="'/img/stat1_'+${status.actionCount1}+'.svg'"></dd>
                        </dl>
                        <dl class="flex">
                            <dt>せいけつ</dt>
                            <dd><img class="statImg" th:src="'/img/stat2_'+${status.actionCount2}+'.svg'"></dd>
                        </dl>
                        <dl class="flex">
                            <dt>なつき</dt>
                            <dd><img class="statImg" th:src="'/img/stat3_'+${status.actionCount3}+'.svg'"></dd>
                        </dl>
                    </dd>
                </dl>
            </div>

            <div class="cntBox" th:each="status : *{Status}">
                <h2 class="characterImg">
                    <img th:if="${status.level} == 0" class="tamago next" th:src="@{/img/0.png}" width="100">
                    <img id="characterImg" th:if="${status.level} != 0" th:class="'charId'+${status.characterId}" th:src="'/img/'+${status.characterId}+'.svg'" width="200">
                </h2>
                <dl class="menu flex flexC poa">
                    <dt>さいばいメニュー</dt>
                    <dd><button type="submit" name="meal" th:disabled="${status.level} == '0'">ごはん</button></dd>
                    <dd><button type="submit" name="clean">そうじ</button></dd>
                    <dd><button type="submit" name="play" th:disabled="${status.level} == '0'">あそぶ</button></dd>
                </dl>

            </div>
        </form>
    </section>
</body>

<script>
    


    // $(function() {
    //     const action1 = $("#getAction1").val(), // hiddenの値を取得
    //           action2 = $("#getAction2").val(), // hiddenの値を取得
    //           action3 = $("#getAction3").val(); // hiddenの値を取得

    //     if(action1 == 1) {
    //         $('button[name="meal"]').prop('disabled', true);
    //     }

    //     if(action2 == 1) {
    //         $('button[name="clean"]').prop('disabled', true);
    //         // var interval = function(){
    //         //     // console.log(count++);
    //         //     $('button[name="clean"]').prop('disabled', false);
    //         // }
    //         // time = setTimeout(interval, 5000);
    //     }
    //     if(action3 == 1) {
    //         $('button[name="play"]').prop('disabled', true);

    //     }
    // });

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script th:src="@{/js/script.js}"></script>

</html>