<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>さいばいくん</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/reset.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DotGothic16&family=M+PLUS+1&display=swap">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body id="main">
    <section>
        <h1>さいばいくん</h1>
        <form action="#" th:action="@{/main}" th:object="${mainForm}" method="post">
        <!-- <form action="#"  method="post"> -->
            <div class="status">
                <dl class="flex">
                    <dt>なまえ（タイプ）</dt>
                    <dd></dd>
                </dl>
                <dl class="flex">
                    <dt>レベル</dt>
                    <dd></dd>
                </dl>
                <dl>
                    <dt>じょうたい</dt>
                    <dd>
                        <dl class="flex">
                            <dt>けんこう</dt>
                            <dd></dd>
                        </dl>
                        <dl class="flex">
                            <dt>せいけつ</dt>
                            <dd></dd>
                        </dl>
                        <dl class="flex">
                            <dt>なつき</dt>
                            <dd></dd>
                        </dl>
                    </dd>
                </dl>
            </div>

            <div class="cntBox">
                <h2><img class="tamago" th:src="@{/img/0.png}" width="100"></h2>
                <dl class="menu flex flexC poa">
                    <dt>さいばいメニュー</dt>
                    <dd><button type="submit" name="">ごはん</button></dd>
                    <dd><button type="submit" name="">そうじ</button></dd>
                    <dd><button type="submit" name="">あそぶ</button></dd>
                </dl>

            </div>
        </form>
    </section>
</body>

</html>