<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>bird</title>
    <link th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
    <script th:href="@{/webjars/jquery/3.5.0/js/jquery.min.js}"></script>
    <script th:href="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>

    <div class = "container">
        
            <form action="#" th:action="@{/search/select/buy/buyResult}" th:object="${buyForm}" method="post">
                
                <div class="row">
                    <div class="col-12">
                        <h1 class="m-3"> 鳥屋</h1>
                    </div>
                </div>
                    
                <table class="table  table-hover">
                    <th>id</th>
                    <th>種類</th>
                    <th>性別</th>
                    <th>価格</th>
                    <th>色</th>
                    <th>寿命</th>
                    <th>在庫数</th>
                
                    
                <tr th:each="strPetBirdBean : *{strPetBirdBeanList}">
                    <td><button class="btn btn-outline-danger" type="submit" name="delete" th:value="${strPetBirdBean.id}">削除</button></td>   
                    <td >[[${strPetBirdBean.species}]]</td>
                    <td >[[${strPetBirdBean.sex}]]</td>
                    <td >[[${strPetBirdBean.price}]]</td>
                    <td >[[${strPetBirdBean.color}]]</td>
                    <td >[[${strPetBirdBean.life}]]</td>
                    <td >[[${strPetBirdBean.count}]]</td>    
                </tr>
            </table>

            <p>
                <div th:text="*{comment}"></div>
            </p>
            <p>
                <div th:text="*{totalPrice}"></div>
            </p>
            
                <input type="submit" class="btn btn-dark m-3" value="購入する"></input>

            </form>
    
        <form action="#" th:action="@{/}" th:object="${petBirdForm}" method="post">
            <input type="submit" class="btn btn-dark m-3" value="HOME"></input>
        </form>
    </div>
   
</body>
</html>  