<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login Page</title>
    <link th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
    <script th:href="@{/webjars/jquery/3.5.0/js/jquery.min.js}"></script>
    <script th:href="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>

    <div class = "container">
        
        <form action="#" th:action="@{/action}" th:object="${actionForm}" method="post">
            
            <div class="row">
                <div class="col-12">
                    <h1 class="m-3"> Menu</h1>
                </div>
            </div>    
        </form>

        <form action="input.html" th:action="@{/input}" th:object="${inputForm}" method="post">
            <input type="submit" class="btn btn-dark m-3" value="登録">
        </form>
            
        <form action="update.html" th:action="@{/update}" th:object="${updateForm}" method="post">
            <input type="submit" class="btn btn-dark m-3" value="更新">
        </form>

        <form action="delete.html" th:action="@{/delete}" th:object="${deleteForm}" method="post">
            <input type="submit" class="btn btn-dark m-3" value="削除 ">
        </form>

        <form action="#" th:action="@{/}" th:object="${petBirdForm}" method="post">
            <input type="submit" class="btn btn-dark m-3" value="HOMEへ戻る"></input>
        </form>
        
    </div>
</body>
</html>  