<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login Page</title>
    <link th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
    <script th:href="@{/webjars/jquery/3.5.0/js/jquery.min.js}"></script>
    <script th:href="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>

    <div class = "container">
        
        <form action="#" th:action="@{/success}" th:object="${updateForm}" method="post">
            
            <div class="row">
                <div class="col-12">
                    <h1 class="m-3">更新</h1>
                </div>
            </div>
            
            <p>
            <lavel>品種</lavel>
                <select  th:field="*{species}">
                    <option value=>---</option>
                    <div th:each="species : *{speciesList}">
                        <option th:value="${species.id}" th:text="${species.speciesname}" th:selected="${species.id} == *{species}"></option>
                    </div>
                </select>
            </p>

            <p>
            <lavel>性別</lavel>                
                <select  th:field="*{sex}">
                    <option value=>---</option>
                    <div th:each="sex : *{sexList}">
                        <option th:value="${sex.id}" th:text="${sex.sexname}" th:selected="${sex.id} == *{sex}"></option>
                    </div>
                </select>
            </p>

            <p>    
            <lavel>色</lavel>
                <select  th:field="*{color}">
                    <option value=>---</option>
                    <div th:each="color : *{colorList}">
                        <option th:value="${color.id}" th:text="${color.colorname}" th:selected="${color.id} == *{color}"></option>
                    </div>
                </select>
            </p>

            <p>
            <lavel>寿命</lavel>
            <input type = "text" th:field="*{life}"><label th:if="${#fields.hasErrors('life')}" th:errors="*{life}"></label></input>
            </p>

            <p>
            <lavel>個体数</lavel>
                <input type = "text" th:field="*{count}"><label th:if="${#fields.hasErrors('count')}" th:errors="*{count}"></label></input>
            </p>
            <p>    
            <lavel>金額</lavel>
                <input type = "text" th:field="*{price}"><label th:if="${#fields.hasErrors('price')}" th:errors="*{price}" th:selected="${price} == *{price}"></label></input>
            </p>
                
            <input type="submit" class="btn btn-dark m-3" value="更新"></input>    
        
        </form>

        <form action="#" th:action="@{/}" th:object="${petBirdForm}" method="post">
            <input type="submit" class="btn btn-dark m-3" value="HOMEへ戻る"></input>
        </form>
        
    </div>
</body>
</html>  