<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rental2.mapper.inventory.InventoryMapper">

    <select id="selectField" resultType="com.example.rental2.bean.InventorySelectBean">
        select i.titlename,b.biggenre,s.smallgenre,i.turns,t.status,i.id 
         from inventorycontrol i 
         left join biggenre b on i.biggenre = b.biggenreid 
         left join smallgenre s on i.smallgenre = s.smallgenreid 
         left join status t on i.status = t.statusid 
         where i.titlename like concat ('%',#{titleName},'%')
        <if test="bigGenreId!=0">
            and  b.biggenreid = #{bigGenreId}
        </if>
        <if test="smallGenreId!=0">
            and s.smallgenreid = #{smallGenreId}
        </if>
    </select>
    <insert id="insertByInventory">
        INSERT INTO inventorycontrol (id,titlename,biggenre,smallgenre,turns,status)
        VALUES(nextval('inventory_id_seq'),#{titleName}, #{bigGenreId},#{smallGenreId},#{turns},#{statusId})
    </insert>
    <update id="update">
        update table_name 
    set
        <if test="name != null">
        name = #{name},
        </if>
        age = #{age}
    where
      id = #{id}
    </update>
</mapper>