<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet"/>
    <title>pokemon battle</title>
</head>

<body>
    <script th:href="@{/webjars/jquery/3.5.0/js/jquery.min.js}"></script>
    <script th:href="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>

    <div class="container">
    
        <h1>◇ ポケモンバトル！ ◇</h1>
        <form action="#" th:action="@{/select/partner}" th:object="${partnerForm}" method="post">

            <div class="form-group">
                <label>＜トレーナー＞</label>
                <select class="form-control" name="tId">
                    <div th:each="trainerMasterEntity : *{trainerList}" th:inline="text">
                        <option th:value="${trainerMasterEntity.t_id}" th:field="*{tId}" th:selected="${trainerMasterEntity.t_id} == *{tId}">[[${trainerMasterEntity.name}]]</option>
                    </div>
                </select>
            </div>
            <input type="submit" value="てもちポケモンをみる" name="veiw" class="btn btn-outline-primary row m-1"></input> 

            <p th:text="*{trainer}"></p>
            <table class="table table-striped">
                <thead>
                    <th>No.</th>
                    <th>なまえ</th>
                    <th>タイプ１</th>
                    <th>タイプ２</th>
                    <th>つよさ</th>
                    <th>こうげきりょく</th>
                    <th>こうげきタイプ</th>
                </thead>
                <tr th:each="viewPartnerBean : *{pokemonList}">
                    <td>[[${viewPartnerBean.num}]]</td>
                    <td>[[${viewPartnerBean.name}]]</td>
                    <td>[[${viewPartnerBean.type1}]]</td>
                    <td>[[${viewPartnerBean.type2}]]</td>
                    <td>[[${viewPartnerBean.strength}]]</td>
                    <td>[[${viewPartnerBean.power}]]</td>
                    <td>[[${viewPartnerBean.attackType}]]</td>
                </tr>
            </table>

            <p><input type="submit" value="てもちポケモンをふやす" name="add" class="btn btn-primary row m-1"></input></p>
            <p><input type="submit" value="てもちポケモンをにがす" name="del" class="btn btn-primary row m-1"></input></p>
            <p><input type="submit" value="てもちポケモンのつよさをかえる" name="update" class="btn btn-primary row m-1"></input></p>
        </form>

        <form action="#" th:action="@{/}"  method="get">
            <p><input type="submit" value="ホームへ" class="btn btn-outline-secondary row m-1"></input></p>
        </form>
    </div>
</body>
</html>